@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["SuccessMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@model HelpDeskApp.Models.ViewModels.LoginViewModel

<body class=" d-flex flex-column">
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="card card-md">
                <div class="card-body">
                    @if (!ViewData.ModelState.IsValid || ViewData["ErrorMessage"] != null)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            @if (ViewData["ErrorMessage"] != null)
                            {
                                <p>@ViewData["ErrorMessage"]</p>
                            }
                        </div>
                    }
                    <h2 class="h2 text-center mb-4">Login to your account</h2>
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" placeholder="Username" id="username" asp-for="Username">
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-2">
                            <label class="form-label">
                                Password
                                <span class="form-label-description">
                                    <a href="@Url.Action("ForgotPassword", "Account")">Forgot password?</a>
                                </span>
                            </label>
                            <div class="mb-3">
                                <input type="password" class="form-control" placeholder="Password" id="password" asp-for="Password">
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary w-100">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center text-secondary mt-3">
                Don't have an account? <a href="@Url.Action("Register", "Account")" class="f-w-400">Register</a>
            </div>
        </div>
    </div>
</body>