@model HelpDeskApp.Models.ViewModels.RegisterViewModel

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">

            @if (!ViewData.ModelState.IsValid || ViewData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    @if (ViewData["ErrorMessage"] != null)
                    {
                        <p>@ViewData["ErrorMessage"]</p>
                    }
                </div>
            }

            <div class="card">
                <div class="card-body text-center">
                    <h6 class="mb-4 text-muted">Create new account</h6>
                    <form accept-charset="utf-8" method="post">
                        <div class="mb-3 text-start">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" name="username" placeholder="Username" class="form-control" required>
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Email</label>
                            <input type="text" name="email" placeholder="Email" class="form-control" required>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" placeholder="Password" class="form-control" required>
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <button class="btn btn-primary shadow-2 mb-4">Register</button>
                    </form>
                    <p class="mb-0 text-muted">Allready have an account? <a href="@Url.Action("Login", "Account")" class="f-w-400">Login</a></p>
                </div>
            </div>

        </div>
    </div>
</div>